.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib64
*.pyo
*.pyc
#python specific
data/*
iamreporter/public/images/upload/*
iamreporter/public/images/upload/thumbnails/*

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.orig


*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings

.bzr*